.navbar {
  display: flex;
  gap: 1rem;
  font-size: 20px;
}

.navbar a {
  padding: 1rem;
  color: hsl(0, 0%, 100%, 0.5);
}

.navbar a:link {
  text-decoration: none;
}

.navbar a:hover {
  color: #8c3c4a;
  border-bottom: 2px solid #8c3c4a;
}
