body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 500;
  font-size: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.wrapper > div {
  padding: 1.2rem 2rem;
  border: 1px solid #bababa;
  background-color: #e0e0e0;
  text-align: center;
}

.result {
  grid-column: 1/ span 4;
  background-color: #858694 !important;
  color: #fff;
  text-align: right !important;
}

.zero {
  grid-column: 1/ span 2;
}

.operation {
  background-color: #f5913e !important;
}
