/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 500;
  font-size: 20px;
} */
body {
  background-color: #1C1D22;
  color: rgb(255, 255, 255, 0.7);
}

.container {
  margin: 3rem 5rem;
  font-size: 20px;
}

.calculator-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.calculator-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 400px;
  width: 400px;
  border: 3px solid #E7E9EB;
  border-radius: 7px;
}

.wrapper > button {
  padding: 1.2rem 2rem;
  border: 1px solid #bababa;
  background-color: #e0e0e0;
  border-radius: 0;
  cursor: pointer;
}

button {
  font-size: 18px;
  font-weight: 700;
}

.result {
  grid-column: 1/ span 4;
  background-color: #858694 !important;
  color: #fff;
  text-align: right !important;
}

.zero {
  grid-column: 1/ span 2;
}

.operation {
  background-color: #f5913e !important;
}
